@font-face{
	font-family: AcademyC;
	src: url(../fonts/AcademyC.otf);
}
@font-face{
	font-family: AcademyC Italic;
	src: url(../fonts/AcademyC_Italic.otf);
}
/*html *
{
	font-family: AcademyC !important;
}*/
#main{

}
#background{
	background-color: #f7f6ec;
	width: 1275px;
	margin: auto;
	padding: 20px;
}
#main_content_1{
	background-color: #f7f6ec;
	border: 2px solid black;
	padding: 3px;
}
#main_content_2{
	border: 2px solid #b39c5a;
}
#header{
	text-align: center;
}
#header_email{
	overflow: hidden;
}
#language{
	float: left;
	margin-left: auto;
	border-bottom: 2px solid #b39c5a;
	font-family: AcademyC Italic;
	margin-top: 10px;
	margin-left: 10px;
}
#mail{
	float: right;
	margin-right: auto;
	border-bottom: 2px solid #b39c5a;
	font-family: AcademyC Italic;
	margin-top: 10px;
	margin-right: 10px;
}
#header_name{
	float: none;
	font-family:  AcademyC, bold;
	font-size:48px;
	margin-bottom: 20px;
	}
#header_events{
	background-color: bisque;
	overflow:hidden;
}
#header_pic_tex{
	background-color: coral;
	float: left;
	text-align: left;
	width: 370px;
	padding-left: 50px;
	padding-top: 5px;
	font-family: AcademyC;
}
#header_pic{
	background-color: white;
	float: left;
	width: 395px;
	height: 508px;
	border: 3px solid #b39c5a;
	padding: 5px;
}
#header_menu{
	background-color: deeppink;
	float: right;
	width: 430px;

}
#menu_main{
	background-color: darkseagreen;
	padding-top: 10px;
	padding-right: 50px;
}
#menu_text{
	background-color: greenyellow;
}
#content{
	background-color:blue;
	text-align: center;
}
#footer{
	background-color:yellow;
	text-align: center;
}
#text_line_2{
	background-color:antiquewhite;
}
#footer_text{
	background-color:aqua;
}
#partner_main{
	background-color: bisque;
	overflow:hidden;
}
#partner_column_1{
	background-color: coral;
}
#partner_pic_1{
	background-color: darkseagreen;
}
#partner_pic_2{
	background-color: greenyellow;
}
#partner_column_2{
	background-color: darkgoldenrod;
}
#partner_pic_3{
	background-color: lime;
}
#partner_pic_4{
	background-color: blanchedalmond;
}
#partner_pic_5{
	background-color: wheat;
}
#partner_column_3{
	background-color: deeppink;
}
#partner_pic_6{
	background-color: cornflowerblue;
}
#partner_pic_7{
	background-color: cyan;
}
#text_line_3{
	background-color:aqua;
}
#contacts{
	background-color:aqua;
	overflow:hidden;
}
#contact_1{
	background-color: darkseagreen;
}
#contact_2{
	background-color: greenyellow;
}