@font-face{
	font-family: AcademyC;
	src: url(../fonts/AcademyC.otf);
}
@font-face{
	font-family: AcademyC Italic;
	src: url(../fonts/AcademyC_Italic.otf);
}
@font-face{
	font-family: Gulim;
	src: url(../fonts/gulim.ttc);
}
/*html *
{
	font-family: AcademyC !important;
}*/
#main{

}
#background{
	background-color: #f7f6ec;
	width: 1275px;
	margin: auto;
	padding: 20px;
}
#main_content_1{
	background-color: #f7f6ec;
	border: 2px solid black;
	padding: 4px;
}
#main_content_2{
	border: 1px solid #b39c5a;
}
#header{
	text-align: center;
}
#header_email{
	overflow: hidden;
}
#language{
	float: left;
	border-bottom: 1px solid #b39c5a;
	font-family: AcademyC Italic;
	margin-top: 10px;
	margin-left: 10px;
	text-decoration:none;
	list-style-type: none;
}
#mail{
	float: right;
	border-bottom: 1px solid #b39c5a;
	font-family: AcademyC Italic;
	margin-top: 10px;
	margin-right: 10px;
}
#header_name{
	float: none;
	font-family:  AcademyC, bold;
	font-size:48px;
	margin-bottom: 20px;
	color: #b39c5a;
}
#header_events{
	background-color: #f7f6ec;
	overflow:hidden;
}
#header_pic_tex{
	float: left;
	text-align: left;
	width: 370px;
	padding-left: 50px;
	padding-top: 5px;
	font-family: AcademyC;
}
#header_pic{
	background-color: white;
	float: left;
	width: 395px;
	height: 508px;
	border: 3px solid #b39c5a;
	padding: 10px;
}
#header_menu{
	float: right;
	width: 420px;
	font-family: AcademyC;
}
#menu_text{
	margin-right: 100px;
	margin-left: 30px;
	margin-top: 100px;
}
#content{
	text-align: center;
}
#line_content_1{
	padding-top: 80px;
	text-align: center;
	font-family: AcademyC;
	font-size: 35px;
	padding-right: 50px;
	padding-left: 50px;
}
.line_cont_right{
	width: 320px;
	height: 1px;
	border: none;
	float: left;
	background:-moz-linear-gradient(left,  #9a6c3f 0%, #f3ddbd 100%);
	background:-webkit-linear-gradient(left,    #9a6c3f 0%, #f3ddbd 100%);
	background:linear-gradient(left,   #9a6c3f 0%, #f3ddbd 100%);
}
.line_cont_left{
	width: 320px;
	height: 1px;
	border: none;
	float: right;
	background:-moz-linear-gradient(left,  #f3ddbd 0%,#9a6c3f 100%);
	background:-webkit-linear-gradient(left,   #f3ddbd 0%,#9a6c3f 100%);
	background:linear-gradient(left, #f3ddbd 0%,#9a6c3f 100%);
}
#content_text{
	font-family: AcademyC Italic;
	font-size: 15px;
	text-align: center;
	padding-left: 360px;
	padding-right: 360px;
	padding-bottom: 20px;
}
#content_gallery{
	text-align: center;
	overflow: hidden;
}
.gallery_1{
	float: left;
	width: 420px;
}
.gallery_2{
	float: left;
	width: 420px;
}
.gallery_3{
	float: left;
	width: 420px;
}
.cont_main_text_1{
overflow: hidden;
	margin-top: 20px;
}
.expo_title{
	/*padding-left: 300px;
	padding-right: 50px;
	text-align: left;*/
}
.title{
	font-size: 55px;
	border-bottom: 2px solid #b39c5a;
	font-family: AcademyC;
	text-decoration:none;
	list-style-type: none;
	color: black;
}
.expo_summary{
	font-family: Arial;
	font-size: 12px;
	/*vertical-align: text-top;*/

}
#line_content_2{
	padding-top: 80px;
	text-align: center;
	font-family: AcademyC;
	font-size: 35px;
	padding-right: 50px;
	padding-left: 50px;
}
.line_cont_right_2{
	width: 400px;
	height: 1px;
	border: none;
	float: left;
	background:-moz-linear-gradient(left,  #9a6c3f 0%, #f3ddbd 100%);
	background:-webkit-linear-gradient(left,    #9a6c3f 0%, #f3ddbd 100%);
	background:linear-gradient(left,   #9a6c3f 0%, #f3ddbd 100%);
}
.line_cont_left_2{
	width: 400px;
	height: 1px;
	border: none;
	float: right;
	background:-moz-linear-gradient(left,  #f3ddbd 0%,#9a6c3f 100%);
	background:-webkit-linear-gradient(left,   #f3ddbd 0%,#9a6c3f 100%);
	background:linear-gradient(left, #f3ddbd 0%,#9a6c3f 100%);
}
#content_text_2{
	font-family: AcademyC Italic;
	font-size: 15px;
	text-align: center;
	padding-left: 260px;
	padding-right: 260px;
	padding-bottom: 20px;
}
#footer{
	text-align: center;
}
#text_line_2{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 80px;
	font-family: AcademyC;
	text-align: center;
	font-size: 35px;
}
.line_left{
	width: 470px;
	height: 1px;
	border: none;
	float: left;
	background:-moz-linear-gradient(left,  #9a6c3f 0%, #f3ddbd 100%);
	background:-webkit-linear-gradient(left,    #9a6c3f 0%, #f3ddbd 100%);
	background:linear-gradient(left,   #9a6c3f 0%, #f3ddbd 100%);
}
.line_right{
	width: 470px;
	height: 1px;
	border: none;
	float: right;
	background:-moz-linear-gradient(left,  #f3ddbd 0%,#9a6c3f 100%);
	background:-webkit-linear-gradient(left,   #f3ddbd 0%,#9a6c3f 100%);
	background:linear-gradient(left, #f3ddbd 0%,#9a6c3f 100%);
}
#footer_text{
	font-family: AcademyC Italic;
	font-size: 15px;
	text-align: center;
	padding-left: 290px;
	padding-right: 290px;
}
#partner_main{
	overflow:hidden;
}
#partner_column_1{
	float: left;
	width: 430px;
}
#partner_pic_1{
	margin-top: 150px;
	margin-bottom: 50px;
}
#partner_pic_2{
	margin-top: 100px;
	margin-bottom: 50px;
}
#partner_column_2{
	width: 400px;
	float: left;
}
#partner_pic_3{
	margin-top: 50px;
	margin-bottom: 50px;
}
#partner_pic_4{
	margin-top: 100px;
	margin-bottom: 50px;
}
#partner_pic_5{
	margin-top: 100px;
	margin-bottom: 50px;
}
#partner_column_3{
	width: 400px
	float: left;
}
#partner_pic_6{
	margin-top: 100px;
	margin-bottom: 50px;
}
#partner_pic_7{
	margin-top: 40px;
	margin-bottom: 250px;
}
#text_line_3{
	padding-left: 50px;
	padding-right: 50px;
	font-family: AcademyC;
	text-align: center;
	font-size: 35px;
}
#contacts{
	overflow:hidden;
}
#contact_1{
	width: 630px;
	float: left;
	margin: 50px 0;
}
.city{
	font-family: AcademyC;
}
.city_contacts{
	font-family: Arial;
	font-size: 12px;
}
#contact_2{
	width: 630px;
	margin: 50px 0;
	float: right;
}